<h1><%= @entity.name %></h1>

<dl class="dl-horizontal">
  <dt>Date of birth:</dt>
  <dd><%= @entity.date_of_birth ? @entity.date_of_birth.to_date.strftime("%B %Y") : 'Not known' %></dd>
  <dt>Nationality:</dt>
  <dd><%= @entity.jurisdiction_name || 'Not known' %></dd>
  <dt>Address:</dt>
  <dd><%= @entity.address || 'Not known' %></dd>
</dl>
