<h1><%= @company.name %></h1>

<div id='company_details'>
  <h2>Company details (from <%= link_to 'OpenCorporates', @company.opencorporates_url, :class => 'oc_link' %>)</h2>

<dl class='attributes'></dl>
</div>