<h1><%= @company.name %></h1>

<h2><%= @company.beneficial_owner_sentence %></h2>

<div id='company_details'>
  <h2>Company details (from <%= link_to 'OpenCorporates', @company.opencorporates_url, :class => 'oc_link' %>)</h2>

  <dl class='attributes'></dl>
</div>

<div id="graph-container"></div>

<script>
  s = sigma.parsers.json("<%= graph_relationships_company_url(@company) %>", {
        container: 'graph-container',
        renderer: {
          container: document.getElementById('graph-container'),
          type: 'canvas'
        },
        settings: {
          drawEdges: true,
          drawLabels: true,
          minNodeSize: 1,
          maxNodeSize: 10,
          batchEdgesDrawing: false,
          labelThreshold: 2,
          sideMargin: 1,
          edgeColor: "default",
          defaultEdgeColor: "#bbb"
        }
        }, function(s) {
          // Display the nodes on a circle:
          s.graph.nodes().forEach(function(node, i, a) {
            node.x = Math.cos(Math.PI * 2 * i / a.length);
            node.y = Math.sin(Math.PI * 2 * i / a.length);
            });

          // Start the ForceAtlas2 algorithm:
          s.startForceAtlas2({
            worker: true,
            slowDown: 3,
            linLogMode: false,
            adjustSizes: true,
            strongGravityMode: true
          });

          //setTimeout(function(s) {
          //    console.log(s);
          //  s.killForceAtlas2();
          //}, 5000, s);
        });
</script>
