/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

body, html {
  height: 100%;
}

/* Opera Fix for sticky footer*/

body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}

@font-face {
  font-family: 'avenir_heavy';
  src: font-url( asset-path("avenir-heavy.otf") );
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir';
  src: font-url( asset-path("avenir.ttf") );
  font-weight: normal;
  font-style: normal;
}

h2, h3, h6 {
  font-family: 'avenir_heavy';
}
h4, h5 {
  font-family: 'avenir';
}
h1 {
  font-family: 'avenir';
  color: #45494d;
  text-align: center;
  margin: 30px 0;
}

.content-wrap {
  min-height: 100%;
}

.content-area {
  overflow:auto;
  padding-bottom: 100px;
}

.standalone:before {
  content: "";
  display: block;
  margin: 0 auto 30px;
  width: 100px;
  height: 2px;
  background: #23aaa4;
}

.standalone, .standalone-form, #relationship_details {
  max-width: 768px;
  margin: 0 auto;
  font-family: 'avenir';
  color: #45494d;
  font-size: 14px;
  line-height: 20px;
}

.standalone a, .standalone-form a {
  color: #23aaa4;
  font-family: 'avenir-heavy';
  -webkit-transition: color .1s;
  transition: color .1s;
  margin-bottom: 10px;
}

.standalone a:hover, .standalone-form a:hover {
  color: #45494d;
}

.standalone p, .standalone-form p {
  margin-bottom: 30px;
}

.results {
  padding: 30px 0;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

.bottom {
  margin-top: 20px;
  margin-bottom: 30px;
}

.leading {
  margin-top: 50px;
  margin-bottom: 20px;
}

#results li {
  list-style: none;
}

a:hover, a:focus {
  text-decoration: none
}

/* Forms */

.search-field, .company-search-form {
  margin: 0 auto;
  display: block;
  width: 100%;
  border: 2px solid #23aaa4;
  box-shadow: none;
  padding: 10px 20px;
  font-family: 'avenir';
  font-size: 16px;
  line-height: 22px;
}

.search-field:focus {
  outline:0 !important;
}


.new-form, #relationship_details form {
  max-width: 500px;
  margin: 0 auto;
  font-family: 'avenir';
  color: #45494d;
  font-size: 14px;
  line-height: 20px;
}

.new-form label, #relationship_details label {
  font-size: 16px;
  padding-top: 10px;
  width: 200px;
  float: left;
  text-align: right;
}

.new-form input[type='text'], #relationship_details input[type='text'] {
  margin: 0 auto 40px;
  display: block;
  border-radius: 0;
  height: auto;
  width: auto;
  border: none;
  background: rgba(0,0,0,0.1);
  padding: 10px;
  font-family: 'avenir';
  font-size: 16px;
  line-height: 22px;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-appearance: none
}

.new-form input[type='date'] {
  margin: 0 auto 40px;
  display: block;
  border-radius: 0;
  height: auto;
  width: auto;
  border: none;
  background: rgba(0,0,0,0.1);
  padding: 10px 19px;
  font-family: 'avenir';
  font-size: 16px;
  line-height: 22px;
  -webkit-transition: .2s;
  transition: .2s;
}

.new-form input:focus {
  background: rgba(0,0,0,0.2);
  border: 0;
  box-shadow: 0;
  outline: 0;
}

.new-form input[type='submit'] {
  text-decoration: none;
  display: block;
  background: white;
  padding: 8px 40px;
  margin: 18px auto 0;
  border: 2px solid #23aaa4;
  font-family: 'avenir-heavy';
  color: #23aaa4;
  letter-spacing: 2px;
  -webkit-transition: .2s;
  transition: .2s;
}

.new-form input[type='submit']:hover {
  text-decoration: none;
  background-color: #23aaa4;
  color: #FFF;
}

.new-form input[type='number'] {
  margin: 0 auto 40px;
  display: block;
  border-radius: 0;
  height: auto;
  width: auto;
  border: none;
  background: rgba(0,0,0,0.1);
  padding: 10px;
  font-family: 'avenir';
  font-size: 16px;
  line-height: 22px;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-appearance: none
}

.new-form input[type='file'] {
  margin: 0 auto 40px;
  display: block;
  border-radius: 0;
  width: 209px;
  border: none;
  padding: 10px 0;
  font-family: 'avenir';
  font-size: 16px;
  line-height: 22px;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-appearance: none

}

.new-results ul, #results ul {
  margin: 0;
  padding: 0;
}

.flag {
  float: left;
  margin: 8px 10px 13px 0;
}

.choose-company-ul {
  margin-top: 20px;
  padding: 0;
}

.choose-company, .choose-company-ul a {
  display: block;
  line-height: 30px !important;
  font-size: 16px !important;
  font-family: 'avenir' !important;
  color: #45494d !important;
  cursor: pointer;
}

.choose-company:hover, .choose-company-ul a:hover {
  color: #23aaa4 !important;
}

.panel-default {
  border: none;
}

.panel-default .panel-heading {
  background: #FFF;
}

.panel-title a {
  font-family: 'avenir';
  font-size: 20px;
}

.panel-title .collapsed:before {
  content:"\f196";
  font-family: 'FontAwesome';
  color: #45494d;
  margin-right: 5px;
}

.btn-lg {
  text-decoration: none;
  display: block;
  border: 0;
  background: none;
  font-family: 'avenir' !important;
  color: #23aaa4;
  font-size: 16px;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-lg:hover {
  text-decoration: none;
  background: none;
  border: 0;
  color: #45494d !important;
}

/* Nav */

.navbar {
  background: #45494d;
  color: white;
  font-family: 'avenir';
  border: none;
}

.navbar-default .navbar-nav {
  float: right;
}

.container .in, .container .collapsing {
  width: 100%;
  display: inline-block;
  margin: 0;
}

.container .in .navbar-nav, .container .collapsing .navbar-nav {
  float: none;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #FFF;
}

.navbar-default .navbar-brand .logo-mid {
  font-family: 'avenir_heavy';
  color: #c4cccb;
  -webkit-transition: color .1s;
  transition: color .1s;
}

.navbar-default .navbar-brand:hover .logo-mid {
  color: #23aaa4;
}

.navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:focus {
  color: white;
  font-size: 14px;
  -webkit-transition: color .1s;
  transition: color .1s;
}

.navbar-default .navbar-nav li a:hover {
  color: #23aaa4;
}

.navbar-default .navbar-toggle {
  border: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: #23aaa4;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar:active {
  background-color: #23aaa4;
}

/* Jumbotron / Hero */

.jumbotron {
  background: #fff;
  text-align: center;
}

.jumbotron img {
  margin-bottom: 20px;
}

.jumbotron h1 {
  font-size: 30px;
  letter-spacing: 4px;
  color: #45494d;
}

.jumbotron p {
  color: #45494d;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 18px;
}

.jumbotron a, .btn-m {
  text-decoration: none;
  margin-top: 18px;
  display: inline-block;
  padding: 8px 20px;
  border: 2px solid #23aaa4;
  border-radius: 0;
  background-color: #FFF;
  font-family: 'avenir-heavy';
  color: #23aaa4;
  letter-spacing: 2px;
  -webkit-transition: .2s;
  transition: .2s;
}

.jumbotron a:hover, .btn-m:hover {
  text-decoration: none;
  background-color: #23aaa4;
  color: #FFF;
  border: 2px solid #23aaa4;
}

.single-col {
  width: 100%;
  border-top: 2px solid #45494d;
  padding-top: 20px;
}

.quote {
  text-align: center;
  max-width: 768px;
  margin: 20px auto;
  font-family: 'avenir';
  font-size: 14px;
  color: #45494d;
}

.quote p {
  font-size: 18px;
  line-height: 22px;
  color: #23aaa4;
}

.dl-horizontal {
  font-family: 'avenir';
  font-size: 16px;
  width: 340px;
  margin: 0 auto;
}

.dl-horizontal dt {
  font-family: 'avenir-heavy';
  color: #23aaa4;
}

/* Row / Content */

.panels {
  margin-top: -24px;
  border-top: 2px solid #45494d;
  padding-top: 20px;
}

.thumbnail {
  border: 0;
  padding: 20px 0 0;
  text-align: center;
}

.thumbnail h3 {
  font-size: 18px;
  letter-spacing: 1px;
  color: #45494d;
  -webkit-transition: .2s;
  transition: .2s;
}

.thumbnail p {
  font-family: 'avenir';
  padding: 0 70px;
  color: #6e7275;
  font-size: 14px;
  line-height: 18px;
  -webkit-transition: .2s;
  transition: .2s;
}

a:hover .thumbnail h3 {
  color: #23aaa4;
}

a:hover .thumbnail p {
  color: #23aaa4;
}

/* Footer */

footer {
  position: relative;
  margin-top: -50px;
  height: 50px;
  clear: both;
  width: 100%;
  background: #23aaa4;
}

.footer-content {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
  line-height: 50px;
}

.footer-brand {
  padding-top: 4px;
  font-family: 'avenir';
  font-size: 20px;
  color: #45494d;
  -webkit-transition: color .1s;
  transition: color .1s;
}

.footer-brand .logo-mid {
  font-family: 'avenir_heavy';
  color: #FFF;
}

.footer-brand:hover {
  color: #6e7275;
}

.OC-info, .OC-blog {
  float: right;
  font-family: 'avenir';
  color: #FFF;
}

.OC-blog {
  margin-left: 20px;
  border-left: 1px solid rgba(255,255,255,0.4);
  padding-left: 20px;
}

.OC-info a, .OC-blog a {
  color: #45494d;
  -webkit-transition: .2s;
  transition: .2s;
}

.OC-info a:hover, .OC-blog a:hover {
  color: #FFF;
}

/* Extras / Legacy */

#graph-container {
  min-height: 400px;
  width: 600px;
  background: #fff;
}

#topnavbar {
  margin: 0;
}

#topnavbar.affix {
  position: fixed;
  top: 0;
  width: 100%;
}

#banner {
  background-color: #23aaa4;
}

#banner p {
  text-align: center;
  font-family: 'avenir';
  color: #FFF;
  padding-top: 10px;
}

#banner a {
  color: #45494d;
}

.relationship {
  margin: 0 auto 30px;
  display: block;
  font-family: 'avenir_heavy';
  text-align: center;
  font-size: 18px;
  color: #23aaa4;
}