<div class="jumbotron">
  <h1>Who Controls it?</h1>
  <p>A proof-of-concept beneficial ownership database</p>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <a href="/people/new">
      <div class="thumbnail">
        <div class="caption">
          <h3>I control a company</h3>
          <p>I want to register my control of a company</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-4">
    <a href="#">
      <div class="thumbnail">
        <div class="caption">
          <h3>Add control info for any company</h3>
          <p>I want to register my control of a company</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-4">
    <a href="/companies">
      <div class="thumbnail">
        <div class="caption">
          <h3>Explore the data</h3>
          <p>Discover who controls companies</p>
        </div>
      </div>
    </a>
  </div>
</div>
