<h1>About WhoControlsIt</h1>

<div class="standalone">
	<p>This is a proof-of-concept Beneficial Ownership register to demonstrate how data could be collected. It was designed in less than a couple of days by OpenCorporates to help inform UK Civil Society&rsquo;s response to the  <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/367578/bis-14-1145-the-register-of-people-with-significant-control-psc-register-register-final-1.pdf">UK government&rsquo;s consultation</a> on what the Beneficial Ownership register (or register of Persons of Significant Control) will look like. Beneficial owners are the individuals who ultimately control companies, together with the means/route of control. For more information is</p>

	<p>We will be iterating and improving it over time, and believe it can be developed into an open data global beneficial ownership database. Before then there&rsquo;s a lot to do, but first here&rsquo;s the site in a nutshell:</p>

	<ul>
	  <li>Open Source: <a href="https://github.com/openc/WhoControlsIt">code here</a></li>
	  <li>Allows company owners to self-submit that they control companies, using the <a href="https://api.opencorporates.com/">OpenCorporates API</a> to search for the companies</li>
	  <li>Allow third-parties to add BO data for companies they add based on official filings</li>
	  <li>Allows evidentiary filings to be uploaded (uses Amazon S3)</li>
	  <li>List companies added, and allow to be searched by &lsquo;live-search&rsquo;</li>
	  <li>Show control graphs on controlling persons page</li>
	  <li>Pulls in data on the company from the <a href="https://api.opencorporates.com/">OpenCorporates API</a></li>
	  <li>Deployed to alpha.WhoControlsIt.com using dummy data</li>
	</ul>
</div>

