
<h1>About Beneficial Ownership</h1>

<div class="standalone">
	<p>Beneficial Ownership is an awkward piece of jargon for something relatively simple: who controls and benefits from companies. Why is this important? Because it's critical that everyone should know who they are doing business with, whether it's as a customer, supplier, employee or regulator.</p>
    <p>Companies are artificial creations of law – laws that are created for the benfit to society. The reason we have companies – artificial legal constructs that have legal personality separate from that of their owners and managers - is because we beleive that by doing so we will have a more prosperous, better society. However, from the early days of company incorporation, it was realised that this structure could be abused. And in a global corporate world, that potential for being abused is increasingly being materialised, with companies being the vehicle of choice for money-laundering, fraud, corruption and organised crime.</p>
</div>
