<%= image_tag("more.png", class: "centered leading", :alt => "More") %>

<h1>Other resources</h1>

<div class="standalone">
	<p><a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/367578/bis-14-1145-the-register-of-people-with-significant-control-psc-register-register-final-1.pdf">THE REGISTER OF PEOPLE WITH
	SIGNIFICANT CONTROL (PSC
	REGISTER) - Understanding the new
	requirements, recording control
	on the PSC register and
	protecting people at serious risk
	of harm</a></p>
</div>
